.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f5f5f5; /* Light grey background */
}

.login-form, .logged-in-message {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #800000; /* Maroon background */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px; /* Consistent width */
    gap: 10px; /* Space between elements */
    color: white; /* Text color */
    font-size: 1.2rem;
}

.login-form h2, .logged-in-message h2 {
    margin-bottom: 1rem;
}

.login-form button, .logged-in-message button {
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #a52a2a; /* Lighter maroon for buttons */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-form button:hover, .logged-in-message button:hover {
    background-color: #641e1e; /* Darker maroon on hover */
}

.logged-in-buttons {
    display: flex;
    width: 100%; /* Full width of its container */
    justify-content: space-evenly;
}
